<h1 class="d-flex justify-content-center">Añadir Usuario</h1>

<div class="d-flex justify-content-center">
    <!-- Name input -->
<div class="form-outline mb-4">
    <input type="text" id="form7Example1" class="form-control" />
    <label class="form-label" for="form7Example1">Name</label>
  </div>
  
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="form7Example2" class="form-control" />
    <label class="form-label" for="form7Example2">Email address</label>
  </div>
</div>
<div class="d-flex justify-content-end">
    <button class="btn btn-warning">enviar</button>
</div>


<div class="d-people">
    <p>persona</p>
    <p>tiempo</p>
    <button class="btn btn-warning" >eliminar</button>
</div>