body{
    background-color:  #591212;
}
.div-header{
    background-color: #8a301f;
}
.d-people{
    width: 100%;
    height: 100px;
    background-color: #ffa900;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 1%;
}
.photo-user{
    grid-column: 1 / 3;
    grid-row: 1;
}
.photo{

    height: 100px;
}
.a{
    margin-top: 2%;
    width: 100%;
}
.vencimiento{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 750px;
    margin: 10px;
}
p{
    margin-left: -80%;
}
.d-flex{
    color: white;
}
.form-control{
    color: white;
}
.form-outline .form-control ~ .form-label{
    color: white;
}

